
footer a {
  border-style: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

footer a:hover {
  border-style: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
}

h1 {
  font: 1200;
  font-family: 'IBM Plex Mono', monospace;
  color: black;
  font-family: 'Permanent Marker', cursive;
}

h2 {
  font-family: 'IBM Plex Mono', monospace;
  font: 200;
  padding: 1rem;
  font-weight: bold;
  color: black;
  font-family: 'Permanent Marker', cursive;

}

h3 {
  font-family: 'Permanent Marker', cursive;
  font: 600;
  font-weight: bold;
  color: black;
}




body {
  font-family: 'IBM Plex Mono', monospace !important;
  color: whitesmoke !important;
  font: 20px;
  border-color: black !important;
  background-image: url('./images/coding_pink.png') !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

p {
  font: 300;
  padding-top: 5px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 25px;
  list-style: none;
  padding-left: 0px;
  font-size: 20px;
}
a {
  color: black !important;
  text-decoration: none !important;
  border-style: solid;
  background-color: rgba(245, 245, 245, 0.1);
}

a:hover {
  color:rgb(255, 255, 255) !important;
  border-style: solid;
  transform:scale(1.1,1.1);
  border-color: black;
  background-color: rgba(245, 245, 245, 0.1);
}

.img-circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 1px;
  outline-style: solid;
}

.container {
  text-align: center;
  border-radius: 10px;
  border: 10px;
  box-shadow: 10px;
  width: 500px;
  padding: 10px auto;
  border-color: black;
}

.container-article {
  text-align: center;
  /* background-color: white; */
  border: 10px;
  box-shadow: 10px;
  min-width: 400px;
  padding: 10px auto;
  border-color: black;
  /* max-height: 400px; */
  /* border: 1px solid lightgrey; */
}

.article {
  text-align: left !important;
  padding: 10px;
  flex-direction: column;
  white-space: initial;
  border-top: 5px dotted black;
}

#carou {
  /* height: 2rem; */
}

.hide {
  display: none;
}

.show {
  display: block;
}

.button {
  background-color: rgba(245, 245, 245, 0.1);
  color: black;
  border-style: solid;
  width: 150px;
  height: 35px;
  border-radius: 20px;
  border-color: black;
}

.button:hover {
  /* background-color: lightgray; */
  transform:scale(1.1,1.1);
  /* box-shadow: 0 0 5px deeppink; */
  color: whitesmoke;
  background-color: rgba(245, 245, 245, 0.1);
}



.button-container {
  justify-content: center;
  display: flex;
  padding-bottom: 5px;
  padding-top: 10px;
}


#scroller {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  white-space: nowrap;
  display: flex;
  align-items: start;
  scrollbar-color: whitesmoke;
}

@media only screen and (max-width: 600px) {
  #scroller li {
    display: inline-block;
    margin: 10px;
    min-width: fit-content;
    scrollbar-color: whitesmoke;
  }
}

#scroller li {
  display: inline-block;
  margin: 10px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
  filter: invert(100%);
 }

 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   filter: invert(100%);
 }

#carou img {
  object-fit: scale-down;
  max-height: 375px;
  display: inline-block;
}

.carousel-item {
  background-color: rgba(0, 0, 0, 0.3);
}

#canvas {
  border: 1px solid black;
  background-image: linear-gradient(rgb(155, 3, 131), black);
}
